@charset "UTF-8";
@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url("../fonts/Cormorantgaramondbold.woff2") format("woff2"), url("../fonts/Cormorantgaramondbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url("../fonts/Cormorantgaramond.woff2") format("woff2"), url("../fonts/Cormorantgaramond.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url("../fonts/Cormorantgaramondsemibold.woff2") format("woff2"), url("../fonts/Cormorantgaramondsemibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto; }

.col-sm-12 {
  width: 738px;
  padding: 0 15px;
  margin: 0 auto; }

.col-sm-3 {
  width: 226px; }

.col-sm-6 {
  width: 354px; }

@media (min-width: 992px) {
  .col-md-12 {
    width: 962px;
    padding: 0 15px;
    margin: 0 auto; }
  .col-md-2 {
    width: 165px; }
  .col-md-3 {
    width: 248px; }
  .col-md-6 {
    width: 466px; }
  .col-md-1 {
    width: 80px; } }

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto; }
  .col-lg-2 {
    width: 165px; }
  .col-lg-3 {
    width: 262px; }
  .col-lg-6 {
    width: 555px; } }

@media (max-width: 768px) {
  .col-xs-12 {
    width: 290px;
    padding: 0 15px;
    margin: 0 auto; } }

.page-body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  background-color: #f8f8fa;
  background-repeat: no-repeat;
  background-position: 50% 22px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 94px; }

@media (min-width: 1200px) {
  .page-body {
    background-size: 976px 2370px;
    background-image: repeating-linear-gradient(to right, rgba(224, 224, 224, 0.77) 0px, rgba(224, 224, 224, 0.77) 1px, #f8f8fa 1px, #f8f8fa 195px); } }

.main-nav {
  background-color: #f8f8fa;
  position: relative; }

.main-nav__logo {
  line-height: 0;
  text-decoration: none; }

.main-nav__logo-image {
  width: 184px;
  height: 60px; }

.main-nav__toggle {
  display: none; }

.main-nav__user-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-nav__site-list-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 708px;
  padding: 0 15px; }

.main-nav__location {
  margin: 0;
  padding: 0;
  padding-top: 22px; }

.main-nav__icon--pin {
  width: 11px;
  height: 17px;
  fill: #0094d6; }

.main-nav__city {
  color: #0094d6;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid #0094d6;
  position: relative; }
  .main-nav__city::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    display: inline-block;
    width: 11px;
    height: 17px;
    background-image: url("../img/pin.svg");
    background-repeat: no-repeat;
    text-decoration: none; }

@media (min-width: 992px) {
  .main-nav__site-list-wrapper {
    width: 947px;
    position: relative;
    left: -15px;
    padding: 0 15px; } }

@media (min-width: 1200px) {
  .main-nav__site-list-wrapper {
    width: 1120px;
    padding-left: 79px;
    padding-right: 20px;
    left: -79px; } }

@media (max-width: 768px) {
  .main-nav__user-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .main-nav__site-list-wrapper {
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-nav__logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__toggle {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 19px;
    border: none;
    background-color: transparent;
    background-image: url("../img/menu-icon.svg");
    background-size: 20px 20px;
    background-position: 50% 50%; }
  .main-nav__location {
    width: 240px;
    padding: 10px 0;
    padding-left: 20px; }
  .main-nav--closed .user-list {
    display: none; }
  .main-nav--closed .main-nav__site-list-wrapper {
    display: none; }
  .main-nav--opened .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav--opened .main-nav__site-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.user-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.user-list__item {
  margin-right: 25px; }

.user-list__item:nth-last-child(2) {
  margin-right: 38px; }

.user-list__item:last-child {
  margin-right: 0; }

.user-list__link {
  color: #0094d6;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 8px 0; }

.user-list__link--blind {
  padding-top: 11px; }

.user-list__icon--glasses {
  fill: #aaaaaa; }

@media (max-width: 768px) {
  .user-list {
    width: 260px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    -webkit-box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08); }
  .user-list__item--blind {
    display: none; }
  .user-list__link {
    width: 260px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(224, 224, 224, 0.77); } }

.site-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.site-list__item {
  margin-right: 25px; }

.site-list__link {
  color: #8d8d8d;
  font-family: 'Cormorant', "Times New Roman", serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 18px 0; }

@media (min-width: 992px) {
  .site-list__item {
    margin-right: 42px; } }

@media (max-width: 768px) {
  .site-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .site-list__link {
    width: 260px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(224, 224, 224, 0.77); } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 490px;
  background: linear-gradient(to right, transparent 0%, transparent 316px, #a1c4fd 316px, #c2e9fb 100%);
  margin: 0 auto;
  margin-bottom: 53px; }

.banner__content {
  width: 420px;
  margin-bottom: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end; }

.banner__name {
  color: #000000;
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  text-transform: uppercase; }

.banner__description {
  color: #000000;
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: bold;
  width: 370px;
  margin: 0;
  margin-bottom: 41px;
  padding: 0; }

.banner__button {
  color: #f9b975;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 35px;
  display: inline-block;
  padding-top: 21px;
  padding-right: 58px;
  padding-bottom: 18px;
  padding-left: 49px; }

@media (min-width: 992px) {
  .banner {
    width: 992px;
    min-height: 450px;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .banner__content {
    width: 404px;
    padding-top: 114px;
    padding-left: 30px;
    margin-bottom: 0;
    -ms-flex-item-align: stretch;
        align-self: stretch; } }

@media (min-width: 1200px) {
  .banner {
    width: 1168px;
    padding: 0 66px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .banner__content {
    width: 500px;
    padding-left: 38px; } }

@media (max-width: 768px) {
  .banner {
    background: -webkit-gradient(linear, left top, right top, from(#a1c4fd), to(#c2e9fb));
    background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    min-height: auto;
    margin-bottom: 30px; }
  .banner__content {
    width: 290px;
    padding-top: 40px;
    text-align: center; }
  .banner__name {
    font-size: 40px; }
  .banner__description {
    width: 290px; } }

.book {
  background-image: url("../img/page.svg"), url("../img/book.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 210px, 530px;
  background-position: 48px 59px, 16px -129px;
  -webkit-filter: drop-shadow(-6px -6px 11px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(-6px -6px 11px rgba(0, 0, 0, 0.17));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 550px;
  min-height: 450px; }

.book__page--left {
  font-family: "Roboto", "Arial", sans-serif;
  color: #f1f1f1;
  width: 220px;
  padding-left: 58px;
  padding-top: 116px; }

.book__promo-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  width: 180px; }

.book__promo-description {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 135px; }

.book__page--right {
  font-family: "Cormorant", "Times New Roman", serif;
  width: 253px;
  padding-top: 67px;
  padding-left: 17px; }

.book__article-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  width: 227px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  position: relative; }
  .book__article-title::after {
    content: "";
    display: block;
    width: 37px;
    height: 3px;
    margin-left: -22px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    background-color: #000000; }

.book__page-wrapper {
  padding-left: 0px; }

.book__image {
  margin-bottom: 20px; }

.book__article-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.book__column {
  width: 105px;
  margin: 0;
  padding: 0; }

.book__column--left {
  width: 92px;
  margin-right: 29px; }
  .book__column--left:first-letter {
    font-size: 24px; }

.book__first-word {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px; }

@media (min-width: 992px) {
  .book {
    background-size: 210px, 530px;
    background-position: 48px 59px, 16px -129px;
    width: 550px;
    min-height: 450px;
    -ms-flex-item-align: stretch;
        align-self: stretch; } }

@media (min-width: 1200px) {
  .book {
    background-size: auto auto, 560px;
    background-position: 48px 59px, 16px -129px;
    min-height: 490px;
    width: 600px;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .book__page--right {
    padding-left: 21px;
    padding-top: 81px; }
  .book__article-title {
    margin-bottom: 42px;
    width: auto; }
  .book__page-wrapper {
    padding-left: 20px; } }

@media (max-width: 768px) {
  .book {
    display: none; } }

.news {
  margin-bottom: 53px; }

.news__title {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  padding-left: 3px;
  position: relative; }
  .news__title::after {
    content: "Н";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -176px;
    left: -88px; }
  .news__title::after {
    font-size: 277px; }

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news__toggles {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 322px; }

.news__toggle {
  display: block;
  width: 66px;
  height: 63px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
  border: none; }
  .news__toggle--previous {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-image: url("../img/prev.png"); }
  .news__toggle--next {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-image: url("../img/next.png"); }

.news__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 738px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0 15px; }

.news__item {
  padding-bottom: 26px;
  background-color: #ffffff;
  -webkit-box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: relative; }

.news__date {
  min-height: 85px;
  width: 63px;
  padding-top: 12px;
  padding-left: 8px;
  position: absolute;
  top: -20px;
  left: 11px;
  background-image: url("../img/bookmark-date.png");
  background-repeat: no-repeat; }

.news__date-day {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 24px; }

.news__date-month {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 21px; }

.news__image {
  margin-bottom: 21px; }

.news__name {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding: 0 20px; }

.news__description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  padding: 0 20px; }

@media (min-width: 992px) {
  .news {
    margin-bottom: 55px; }
  .news__title::after {
    content: "Н";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -39px;
    left: -109px; }
  .news__title::after {
    font-size: 277px; }
  .news__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .news__items {
    width: 835px;
    padding: 0;
    margin-bottom: 0; }
  .news__toggles {
    display: block;
    width: 80px;
    margin-top: 0; }
  .news__toggle {
    position: static; }
    .news__toggle--next {
      margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .news {
    margin-bottom: 83px; }
  .news__title::after {
    content: "Н";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -122px; }
  .news__items {
    width: 905px; }
  .news__toggles {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 165px;
    margin: 0;
    margin-top: 131px;
    padding: 0; }
  .news__toggle {
    position: relative; }
    .news__toggle--previous {
      right: -3px; }
    .news__toggle--next {
      right: -70px;
      margin-bottom: 0; } }

@media (max-width: 768px) {
  .news {
    margin-bottom: 10px; }
  .news__toggles {
    display: none; }
  .news__items {
    width: 290px;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .news__item {
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .news__image {
    width: 100%; } }

.new-books {
  position: relative;
  margin-bottom: 47px; }

.new-books__title {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  position: relative; }
  .new-books__title::after {
    content: "К";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -101px;
    left: 539px; }
  .new-books__title::after {
    font-size: 277px; }

.new-books__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0; }

.new-books__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 58px; }
  .new-books__item--toggle {
    display: none; }

.new-books__item-name {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.new-books__item-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  width: 315px;
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.new-books__image-wrapper {
  background-image: url("../img/book.png");
  background-size: 189px 240px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 189px;
  height: 240px;
  margin-bottom: 1px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative; }
  .new-books__image-wrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 212px;
    position: absolute;
    top: 2px;
    left: 9px;
    background-color: rgba(255, 255, 255, 0.24); }

.new-books__image-wrapper--default {
  background-image: none; }
  .new-books__image-wrapper--default .new-books__item-image {
    width: 189px;
    height: 240px;
    position: static; }

.new-books__item-image {
  width: 160px;
  height: 212px;
  position: relative;
  left: 2px;
  top: 2px; }

.new-books__toggle {
  display: block;
  width: 65px;
  height: 406px;
  background-color: transparent;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  position: relative; }
  .new-books__toggle::before {
    content: "";
    display: block;
    width: 28px;
    height: 406px;
    position: absolute;
    top: 0;
    left: -28px;
    background-image: url("../img/button-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .new-books__toggle--outlist {
    width: 406px;
    height: 65px;
    margin-left: -203px;
    margin-top: 0;
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0; }
    .new-books__toggle--outlist::before {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      top: -218px;
      left: 189px; }

@media (min-width: 992px) {
  .new-books {
    margin-bottom: -3px; }
  .new-books__title::after {
    content: "К";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -101px;
    left: 839px; }
  .new-books__title::after {
    font-size: 277px; }
  .new-books__items {
    padding: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .new-books__item {
    padding-right: 109px; }
  .new-books__item:nth-child(3n) {
    padding-right: 0; }
  .new-books__item-description {
    width: auto; }
  .new-books__item--toggle {
    display: block; }
  .new-books__toggle {
    height: 355px;
    margin-top: 0;
    top: auto;
    bottom: 60px;
    right: 194px; }
    .new-books__toggle::before {
      height: 355px;
      background-size: auto 355px; }
    .new-books__toggle--outlist {
      display: none; }
    .new-books__toggle--inlist {
      position: relative;
      bottom: auto;
      right: auto; } }

@media (min-width: 1200px) {
  .new-books {
    margin-bottom: 47px; }
  .new-books__title::after {
    content: "К";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -84px;
    left: 993px; }
  .new-books__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .new-books__item {
    padding-right: 0; }
  .new-books__item--toggle {
    display: none; }
  .new-books__toggle--outlist {
    display: block;
    width: 65px;
    height: 406px;
    margin-top: -236px;
    position: absolute;
    top: 50%;
    right: -66px;
    left: auto;
    bottom: auto; }
    .new-books__toggle--outlist::before {
      height: 406px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      background-size: auto;
      top: 0px;
      left: -28px; } }

@media (max-width: 768px) {
  .new-books {
    margin-bottom: 30px; }
  .new-books__title::after {
    left: 99px; }
  .new-books__item {
    padding: 0;
    margin-bottom: 30px; }
  .new-books__item:nth-last-child(2) {
    margin-bottom: 0; }
  .new-books__item-description {
    width: 290px; }
  .new-books__toggle--outlist {
    display: none; } }

.comments {
  margin-bottom: 119px; }

.comments__title {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  position: relative; }
  .comments__title::after {
    content: "О";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -129px;
    left: -27px; }
  .comments__title::after {
    font-size: 277px; }

.comments__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0; }

.comments__item {
  margin-bottom: 30px; }

.comments__item:last-child {
  margin-bottom: 0; }

@media (min-width: 992px) {
  .comments__title {
    margin-bottom: 38px; }
    .comments__title::after {
      content: "О";
      font-family: "Cormorant", "Times New Roman", serif;
      color: #d9eafb;
      font-size: 350px;
      line-height: 350px;
      font-weight: 500;
      position: absolute;
      z-index: -1;
      top: -129px;
      left: -113px; }
    .comments__title::after {
      font-size: 277px; }
  .comments__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .comments__item {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .comments__title::after {
    content: "О";
    font-family: "Cormorant", "Times New Roman", serif;
    color: #d9eafb;
    font-size: 350px;
    line-height: 350px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    top: -102px;
    left: -146px; } }

@media (max-width: 992px) {
  .comments {
    margin-bottom: 45px; }
  .comments__item {
    padding: 0; } }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 375px, #a1c4fd 375px, #c2e9fb 100%);
  border-radius: 5px; }

.comment__information {
  width: 359px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 47px; }

.comment__author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px; }

.comment__author-image {
  border-radius: 50%;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.comment__author-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 25px; }

.comment__author-name {
  font-family: "Cormorant", "Times New Roman", serif;
  color: #0797d7;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  width: 245px;
  margin: 0;
  margin-bottom: -2px;
  padding: 0; }

.comment__author-about {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px; }

.comment__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  padding-left: 33px;
  width: 300px; }

.comment__book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px; }

.comment__image-wrapper {
  background-image: url("../img/book.png");
  background-size: 137px 174px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 137px;
  height: 174px;
  margin-left: 15px;
  margin-top: 23px;
  position: relative; }
  .comment__image-wrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 155px;
    position: absolute;
    top: 1px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.24); }

.comment__book-image {
  width: 117px;
  height: 154px;
  position: relative;
  left: 1px;
  top: 1px; }

@media (min-width: 992px) {
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none; }
  .comment__information {
    width: auto;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-left: 27px;
    background-color: #ffffff; }
  .comment__text {
    width: 370px; }
  .comment__book {
    width: auto;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a1c4fd), to(#c2e9fb));
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%); } }

@media (min-width: 1200px) {
  .comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 375px, #a1c4fd 375px, #c2e9fb 100%); }
  .comment__information {
    width: 359px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 47px; }
  .comment__text {
    width: 300px; }
  .comment__book {
    width: 180px;
    background: none; } }

@media (max-width: 768px) {
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none; }
  .comment__information {
    width: auto;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff; }
  .comment__author-information {
    padding-top: 7px; }
  .comment__author-name {
    width: 158px; }
  .comment__text {
    width: 260px;
    padding: 0; }
  .comment__book {
    width: auto;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a1c4fd), to(#c2e9fb));
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%); } }

.join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 105px; }

.join-us__message {
  font-family: "Cormorant", "Times New Roman", serif;
  font-size: 34px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0; }

.join-us__button {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(123, 185, 233, 0.8);
  border: 1px solid #a9b9ec;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#a1c4fd), to(#c2e9fb));
  background: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  display: inline-block;
  padding: 24px 41px; }

@media (max-width: 768px) {
  .join-us {
    margin-bottom: 60px; }
  .join-us__message {
    text-align: center;
    font-size: 27px;
    line-height: 34px; }
  .join-us__button {
    text-align: center;
    line-height: 27px;
    font-size: 17px;
    padding: 8px 15px; } }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid rgba(224, 224, 224, 0.77); }

.page-footer__information {
  font-family: "Roboto", "Arial", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0; }

.page-footer__copyright {
  font-family: "Roboto", "Arial", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0; }
