.book {
  background-image: url("../img/page.svg"), url("../img/book.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 210px, 530px;
  background-position: 48px 59px, 16px -129px;

  filter: drop-shadow(-6px -6px 11px $book-shadow);

  display: flex;
  align-self: stretch;

  width: 550px;
  min-height: 450px;
}

.book__page--left {
  @include roboto-font;
  color: $book-white;

  width: 220px;
  padding-left: 58px;
  padding-top: 116px;
}

.book__promo-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;

  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  width: 180px;
}

.book__promo-description {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  margin: 0;
  padding: 0;
  width: 135px;
}

.book__page--right {
  @include cormorant-font;

  width: 253px;
  padding-top: 67px;
  padding-left: 17px;
}

.book__article-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;

  width: 227px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  position: relative;

  &::after {
    content: "";

    display: block;
    width: 37px;
    height: 3px;
    margin-left: -22px;

    position: absolute;
    bottom: -10px;
    left: 50%;

    background-color: $black;
  }
}

.book__page-wrapper {
  padding-left: 0px;
}

.book__image {
  margin-bottom: 20px;
}

.book__article-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;

  margin: 0;
  padding: 0;

  display: flex;
}

.book__column {
  width: 105px;

  margin: 0;
  padding: 0;
}

.book__column--left {
  width: 92px;
  margin-right: 29px;

  &:first-letter {
    font-size: 24px;
  }
}

.book__first-word {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

@media (min-width: $screen-md-min) {
  .book {
    background-size: 210px, 530px;
    background-position: 48px 59px, 16px -129px;

    width: 550px;
    min-height: 450px;

    align-self: stretch;
  }
}

@media (min-width: $screen-lg-min) {
  .book {
    background-size: auto auto, 560px;
    background-position: 48px 59px, 16px -129px;

    min-height: 490px;
    width: 600px;
    align-self: flex-start;
  }

  .book__page--right {
    padding-left: 21px;
    padding-top: 81px;
  }

  .book__article-title {
    margin-bottom: 42px;
    width: auto;
  }

  .book__page-wrapper {
    padding-left: 20px;
  }

}
