.comment {
  display: flex;

  background: linear-gradient(to right,
          $white 0%,
          $white 375px,
          rgba(161, 196, 253, 1) 375px,
          rgba(194, 233, 251, 1) 100%);
}

.comment__author-wrapper {
  display: flex;
}

.comment__author-information {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.comment__author-name {
  @include cormorant-font;
  color: $comment-author-name;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;

  margin: 0;
  padding: 0;
}

.comment__author-about {
  @include cormorant-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.comment__text {
  @include roboto-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;

  margin: 0;
  padding: 0;
  width: 320px;
}
