.comments {
  margin-bottom: 119px;
}

.comments__title {
  @include cormorant-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  position: relative;

  @include big-letter("О", -129px, -27px);
  &::after {
    font-size: 277px;
  }
}

.comments__items {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.comments__item {
  margin-bottom: 30px;
}

.comments__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $screen-md-min) {
  .comments__title {
    @include big-letter("О", -129px, -113px);
    &::after {
      font-size: 277px;
    }

    margin-bottom: 38px;
  }

  .comments__items {
    justify-content: space-between;
  }

  .comments__item {
    margin-bottom: 0;
  }
}

@media (min-width: $screen-lg-min) {
  .comments__title {
    @include big-letter("О", -102px, -146px);
  }
}

@media (max-width: $screen-md-min){
  .comments{
    margin-bottom: 45px;
  }

  .comments__item{
    padding: 0;
  }
}
