.comments {
  margin-bottom: 119px;
}

.comments__title {
  @include cormorant-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  position: relative;

  @include big-letter("О", -102px, -146px);
}

.comments__items {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

@media (min-width: $screen-md-min) {
  .comments__title {
    @include big-letter("О", -129px, -113px);
    &::after{
      font-size: 277px;
    }
  }
}
