@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url('../fonts/Cormorantgaramondbold.woff2') format('woff2'),
  url('../fonts/Cormorantgaramondbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url('../fonts/Cormorantgaramond.woff2') format('woff2'),
  url('../fonts/Cormorantgaramond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  display: swap;
  src: url('../fonts/Cormorantgaramondsemibold.woff2') format('woff2'),
  url('../fonts/Cormorantgaramondsemibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  display: swap;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
