@media (min-width: $screen-md-min) {

  .col-md-12 {
    width: 962px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .col-md-2 {
    width: 165px;
  }

  .col-md-3 {
    width: 262px;
  }

  .col-md-6 {
    width: 555px;
  }
}

@media (min-width: $screen-lg-min) {
  .col-lg-12 {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .col-lg-2 {
    width: 165px;
  }

  .col-lg-3 {
    width: 262px;
  }

  .col-lg-6 {
    width: 555px;
  }
}
