.new-books {
}

.new-books__items {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.new-books__toggle {
  display: block;
  width: 65px;
  height: 406px;

  background-color: transparent;
  box-shadow: -6px -6px 15px 0 $shadow;
  border: none;

  display: none;
}