.new-books {
  position: relative;

  margin-bottom: 47px;
}

.new-books__title {
  @include cormorant-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  position: relative;

  @include big-letter("К", -84px, 993px);
}

.new-books__items {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.new-books__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 58px;
}

.new-books__item-name {
  @include cormorant-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  order: 2;
}

.new-books__item-description {
  @include roboto-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;

  margin: 0;
  padding: 0;
  order: 3;
}

.new-books__image-wrapper {
  background-image: url("../img/book.png");
  background-size: 189px 240px;
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 189px;
  height: 240px;
  margin-bottom: 1px;
  order: 1;

  position: relative;

  &::after {
    content: "";

    display: block;
    width: 1px;
    height: 212px;

    position: absolute;
    top: 2px;
    left: 9px;

    background-color: $book-line;
  }
}

.new-books__image-wrapper--default {
  background-image: none;

  .new-books__item-image {
    width: 189px;
    height: 240px;

    position: static;
  }
}

.new-books__item-image {
  width: 160px;
  height: 212px;

  position: relative;
  left: 2px;
  top: 2px;
}

.new-books__toggle {
  display: block;
  width: 65px;
  height: 406px;

  background-color: transparent;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;

  margin-top: -203px;

  position: absolute;
  top: 50%;
  right: -66px;

  &::before {
    content: "";

    display: block;
    width: 28px;
    height: 406px;

    position: absolute;
    top: 0;
    left: -28px;

    background-image: url("../img/button-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $screen-md-min) {
  .new-books__title{
    @include big-letter("К", -101px, 839px);
    &::after{
      font-size: 277px;
    }
  }

  .new-books__items {
    padding: 0px;

    justify-content: flex-start;
  }

  .new-books__item {
    padding-right: 109px;
  }

  .new-books__item:nth-child(3n){
    padding-right: 0;
  }

  .new-books__toggle {
    height: 355px;
    margin-top: 0;

    top: auto;
    bottom: 60px;
    right: 194px;

    &::before{
      height: 355px;

      background-size: auto 355px;
    }

    &--outlist{
      display: none;
    }

    &--inlist{
      position: relative;
      bottom: auto;
      right: auto;
    }
  }
}


@media (min-width: $screen-lg-min) {
  .new-books__item--toggle {
    display: none;
  }
}
