.page-body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $black;

  background-color: $site-background;
  background-repeat: no-repeat;
  background-position: 50% 22px;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 94px;
}

@media (min-width: $screen-lg-min) {
  .page-body {
    background-size: 976px 2370px;
    background-image: repeating-linear-gradient(to right,
      $site-background-lines 0px,
      $site-background-lines 1px,
      $site-background 1px,
      $site-background 195px);
  }
}
