.user-list {
  list-style: none;
  display: flex;

  margin: 0;
  padding: 0;
}

.user-list__item {
  margin-right: 25px;
}

.user-list__item:nth-last-child(2) {
  margin-right: 38px;
}

.user-list__item:last-child {
  margin-right: 0;
}

.user-list__link {
  color: $menu-link-blue;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  padding: 8px 0;
}

.user-list__link--blind {
  padding-top: 11px;
}

.user-list__icon--glasses {
  fill: $glasses-grey;
}

