$black: #000000;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.08);

$site-background: #f8f8fa;

$menu-link-blue: #0094d6;
$menu-link-grey: #8d8d8d;

$book-white: #f1f1f1;
$button-orange-text: #f9b975;
$button-yellow-text: #f6d365;
$button-red-text: #fda085;

$join-us-border-blue: #a9b9ec;

$footer-border-grey: rgba(224, 224, 224, 0.77);
