$black: #000000;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.08);

$site-background: #f8f8fa;
$big-letter-blue: #d9eafb;

$glasses-grey: #aaaaaa;

$menu-link-blue: #0094d6;
$menu-link-grey: #8d8d8d;

$book-white: #f1f1f1;
$book-shadow: rgba(0, 0, 0, 0.17);
$book-line: rgba(255, 255, 255, 0.24);

$button-orange-text: #f9b975;
$button-yellow-text: #f6d365;
$button-red-text: #fda085;

$comment-author-name: #0797d7;

$join-us-border-blue: #a9b9ec;
$join-us-text-shadow: rgba(123, 185, 233, 0.8);

$footer-border-grey: rgba(224, 224, 224, 0.77);
$footer-text: #8c8c8c;
